.card {
  height: 450px;
  width: 300px;
  background-color: white;
  border-radius: 5px;
  position: relative;
}

img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.desc {
  font-size: 14px;
}

.desc_wrap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.flag_img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0;
  position: absolute;
  bottom: 6.5rem;
  right: 0.5rem;
}

.link {
  text-decoration: none;
  color: grey;
}
