.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.logo {
  padding-left: 0.5rem;
  color: #555555;
}

.header a {
  text-decoration: none;
  cursor: pointer;
  color: #555555;
}

.material-symbols-outlined {
  margin-top: 10px;
}
