.home {
  max-height: 65vh;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5rem;
  object-fit: cover;
}

video {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.menu {
  display: flex;
  justify-content: space-around;
  gap: 5rem;
}

.menu_card {
}
