.new_recipe_wrap {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
.title {
  text-align: center;
  margin-top: 2rem;
}
.ing_inputs {
  display: flex;
  gap: 1rem;
}

.input {
  display: flex;
  flex-direction: column;
  width: 25rem;
}

.textarea {
  display: flex;
  flex-direction: column;
  width: 25rem;
}

.input1,
.input2,
.input3 {
  display: flex;
  flex-direction: column;
}

input {
  color: aqua;
}

.input1,
.input2 {
  width: 6rem;
}

.input3 {
  width: 11rem;
}

label {
  color: #0e1111;
}
