.single_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem;
  border: solid white 1px;
  border-radius: 3px;
}

.recipe_card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  margin: 1rem;
}

.recipe_name {
  margin-top: 1rem;
  text-align: center;
}

.img {
  width: 100%;
  height: 300px;
  border-radius: 3%;
}
.flag_img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0;
  position: absolute;
  top: -1rem;
  left: -1rem;
}
.img_flag_wrap {
  position: relative;
}

.desc_img_wrap {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  border: solid white 1px;
  border-radius: 3px;
}

.desc_wrap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  padding: 0.6rem;
}
.ingr_instr_wrap {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: space-between;
}

.ul {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.li {
  list-style-type: none;
}
